# Dependencies
node_modules/

# Build output
dist/
build/
/functions/lib/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log

# Local/secret config
*.local

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
